spring.application.name=application-names

spring.datasource.url=jdbc:postgresql://serverName:serverPort/dbName
spring.datasource.username=dbLogin
spring.datasource.password=dbPassword

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Hibernate DDL (create, drop, validate, update)
spring.jpa.hibernate.ddl-auto=update
